<h2>Users:</h2>
<ul>
  <li *ngFor="let user of users" (click)="selectUser(user)">
    {{user.toString()}}
  </li>
</ul>
<p *ngIf="selectedUser">Selected user: {{selectedUser.name}}</p>

<h2 *ngIf="errorText">{{errorText}}</h2>

<table mat-table [dataSource]="users">
  <mat-text-column name="id" headerText="ID"></mat-text-column>
  <mat-text-column name="name" headerText="Name"></mat-text-column>
  <mat-text-column name="email" headerText="E-mail"></mat-text-column>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>