<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Films</span>
  <span><a mat-button routerLink="/users" routerLinkActive="mat-accent">Users</a></span>
  <span><a mat-button routerLink="/extended-users" routerLinkActive="mat-accent">Extended users</a></span>
  <span class="spacer"></span>

  <span *ngIf="userName; then thenBlock else elseBlock"></span>
  <ng-template #thenBlock>
    {{userName}}
    <button type="button" mat-button (click)="logout()">Logout</button>
  </ng-template>  
  <ng-template #elseBlock>
    <a mat-button routerLink="/register" routerLinkActive="mat-accent">Register</a>
    <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
  </ng-template>

</mat-toolbar>