<form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Please, register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>User name</mat-label>
        <input matInput formControlName="name">
        <!-- <mat-error>{{getJson(name.errors)}}</mat-error> -->
        <mat-error *ngIf="name.errors && name.errors['required']">Name is required</mat-error>
        <mat-error *ngIf="name.errors && name.errors['minlength']">
          Login must have at least {{name.errors['minlength']['requiredLength']}} characters,
          but has only {{name.errors['minlength']['actualLength']}}.
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
        <mat-error>{{getJson(email.errors)}}</mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.errors">{{password.errors['weakPassword']}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Repeat your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">Register</button>
    </mat-card-actions>
  </mat-card>
</form>